<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
<style>
   html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family:Arial;
  }

.home-page {
  background:url("https://media.giphy.com/media/vvZeaCj5tf0qY/giphy.gif") no-repeat center center fixed;
  height:100%;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    text-align:center;
}
h1 {
  margin:0;
  padding-top:10%;
  font-size:4vmax;
}
p {
  font-size:2vmax;
  color:white;
}
input[type="submit"] {
    border:10px solid cyan;
    background:pink;
    font-size:2vmax;
    color:white;
    border-radius:25px;
    width:25%;
}
input[type="text"] {
  background:blue;
  width:30%;
  height:10%;
  border:3px solid yellow;
}
</style>
</head>
<body> 

<div class="home-page">
  <h1>SEND A TEXT!</h1>
  <div class="form">
    <form method="POST" action="/results">
      <p>Enter Phone Number here: <input type="text" name="number"></p>
      <p>Enter Message here: <input type="text" name="message"></p>
      <input type="submit" value="Thanks!">
    </form>
  </div>
    
</div>
</body>
</html>

